<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-form-layout width="325px" height="294px">
   <vaadin-text-field caption="Username" _id="username"></vaadin-text-field>
   <vaadin-text-field caption="Email" _id="email"></vaadin-text-field>
   <vaadin-text-field caption="Confirm email" _id="confirmEmail"></vaadin-text-field>
   <vaadin-password-field caption="Password" _id="password"></vaadin-password-field>
   <vaadin-password-field caption="Confirm password" _id="confirmPassword"></vaadin-password-field>
   <vaadin-horizontal-layout>
    <vaadin-button responsive plain-text _id="register">
      Register 
    </vaadin-button>
    <vaadin-button responsive plain-text _id="back">
      Back 
    </vaadin-button>
   </vaadin-horizontal-layout>
  </vaadin-form-layout>
 </body>
</html>